$HeroPanel-height-desktop: 700px;

.HeroPanel {
  display: flex;
  flex-direction: column;
  padding-top: $topbar-height;

  background: linear-gradient(to bottom, $HomeHero-top-color, $HomeHero-bottom-color), image-url('home/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
    height: $HeroPanel-height-desktop;
  }
}

.HeroPanel-content {
  flex: 1 0 0;
  padding-top: theme-spacing(huge);
  padding-bottom: theme-spacing(huge);
}
