.NavOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: $topbar-height;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: theme-spacing(huge);
  background-color: theme-color(background, overlay);
  opacity: 0;
  pointer-events: none;
  transition: overlay-transition(opacity);
}

.NavOverlay-links {
  list-style: none;
}

.NavOverlay-link {
  &:not(:last-child) {
    margin-bottom: theme-spacing();
  }
}

.NavOverlay.is-open {
  opacity: 1;
  pointer-events: auto;
  transition: overlay-transition(opacity);
}
