$NavBar-height: $topbar-height;
$NavBar-sides-width: $topbar-height;

.NavBar {
  $side-spacing: theme-spacing();

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: $side-spacing;
  padding-left: $side-spacing;
  z-index: 0;

  @include desktop {
    $side-spacing: theme-spacing(large);
  }
}

.NavBar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: theme-color(background, overlay);
  opacity: 0;
  z-index: -1;
  transition: overlay-transition(opacity);
}

.NavBar-content {
  display: flex;
  width: 100%;
  height: $NavBar-height;
  padding-top: theme-spacing(small);
  padding-bottom: theme-spacing(small);
}

.NavBar-logo {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.NavBar-links {
  flex: 1 0 0;
  display: none;
  justify-content: flex-end;
  list-style: none;

  @include desktop {
    display: flex;
  }
}

.NavBar-link {
  &:not(:last-child) {
    margin-right: theme-spacing();
  }
}

.NavBar-burger {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.NavBar-back,
.NavBar-burger {
  flex: 0 0 $NavBar-sides-width;
  max-width: $NavBar-sides-width;

  @include desktop {
    display: none;
  }
}

.NavBar.is-open {
  position: fixed;
  top: 0;
  left: 0;
}

.NavBar.is-open .NavBar-background {
  opacity: 1;
  transition: overlay-transition(opacity);
}
