$NavBar-height: $topbar-height;
$NavBar-sides-width: $topbar-height;

.NavBar {
  position: relative;
  z-index: 0;
}

.NavBar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: theme-color(background, overlay);
  opacity: 0;
  z-index: -1;
  transition: overlay-transition(opacity);
}

.NavBar-content {
  display: flex;
  width: 100%;
  height: $NavBar-height;
  padding-top: theme-spacing(small);
  padding-bottom: theme-spacing(small);
}

.NavBar-center {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.NavBar-back,
.NavBar-burger {
  flex: 0 0 $NavBar-sides-width;
  max-width: $NavBar-sides-width;
}

.NavBar-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.NavBar.is-open {
  position: fixed;
  top: 0;
  left: 0;
}

.NavBar.is-open .NavBar-background {
  opacity: 1;
  transition: overlay-transition(opacity);
}
