.Panel {
  $spacing: theme-spacing(base);

  padding-right: $spacing;
  padding-left: $spacing;
  background-color: theme-color(background);
}

.Panel.Panel--hero {
  background: linear-gradient(to bottom, $Hero-top-color, $Hero-bottom-color), image-url('home/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Panel.Panel--fold {
  min-height: 100%;
}
