.Panel {
  flex-grow: 1;
}

.Panel.Panel--fold {
  min-height: 100%;
}

.Panel.Panel--safety {
  background-color: $Theme-color-safety;
}

.Panel.Panel--medicine {
  background-color: $Theme-color-medicine;
}

.Panel.Panel--education {
  background-color: $Theme-color-education;
}
