.Site {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: theme-color(background, alternative);

  & > * {
    flex: 0 0 auto;
  }
}

.Site.is-notScrollable {
  overflow-y: hidden;
}
