.Text {
  @include theme-typography();

  color: theme-color(text);
}

.Text.Text--center {
  text-align: center;
}

.Text.Text--legal {
  @include theme-typography(legal);

  color: theme-color(text, alternative);
  text-align: center;
}
