$Theme-color-black: #000000;
$Theme-color-white: #ffffff;

$Theme-palette: (
  background: (
    alternative: $Theme-color-black,
    base: $Theme-color-white,
    overlay: $Theme-color-black,
  ),
  text: (
    alternative: $Theme-color-white,
    base: $Theme-color-black,
  ),
);

@function theme-color($element, $variant: 'base', $palette: $Theme-palette) {
  $element-palette: map-get($palette, $element);

  @return map-get($element-palette, $variant);
}
