$Theme-color-black: #000000;
$Theme-color-white: #ffffff;

$Theme-palette: (
  background: (
    alternative: $Theme-color-black,
    base: $Theme-color-white,
  ),
  text: (
    alternative: $Theme-color-white,
    base: $Theme-color-black,
  ),
);

@function theme-color($element, $variant: 'base', $palette: $Theme-palette) {
  $element-palette: map-get($palette, $element);

  @return map-get($element-palette, $variant);
}

$HomeHero-top-color: rgba(#000000, 0.5);
$HomeHero-bottom-color: rgba(#000000, 0.9);
