$Theme-spacing-scheme: (
  tiny: 5px,
  small: 10px,
  base: 20px,
  large: 40px,
  huge: 80px,
);

@function theme-spacing($size: 'base', $scheme: $Theme-spacing-scheme) {
  @return map-get($scheme, $size);
}
